RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]

Options All -Indexes

ErrorDocument 403 "Somthing Went Wrong"
ErrorDocument 404 "Sorry Page Not Found"